@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap");

#app {
  width: 100%;
  margin: 0;
  padding: 20px;
  font-weight: normal;
  font-family: "Lexend", sans-serif;
  background: linear-gradient(135deg, #0E1542 0%, #000318 100%);
}

